@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

:root {
    --main-bg-color: #353b48;
    --secondary-bg-color: #ffd800;
    --three-bg-color: #c59114;
    --four-bg-color: #d9d9d6,
}

textarea::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var();
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: var(--three-bg-color);
    border-radius: 0px;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: ProTrial;
    src: url('../fonts/Cocogoose Pro-trial.ttf');
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100px;
    z-index: 100;
    outline: none;
}

nav > ul {
    position: absolute;
    left: 0; right: 0;
    width: 80%;
    margin: auto;
    text-align: right;
}

nav > ul > li {
    position: relative;
    display: inline-block;
    height: 100px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 100px;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 2vh;
    cursor: pointer;
}

nav > ul > li.connect {
    color: var(--main-bg-color);
    font-weight: bold;
}

.parallax {
    position: fixed;
    height: 100vh; width: 100vw;
    background-image: url('../img/grayscale-photo-of-volcano-997443.jpg');
    background-size: cover;
}

.presentation {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url('../img/accueil.png');
    background-size: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.propos > .square {
    position: absolute;
    left: 20vw;
    height: 100px;
    width: 100px;
    background: rgb(196, 138, 13);
    z-index: 50;
    top: -1px;
    -webkit-box-shadow: 9px 2px 5px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 9px 2px 5px 0px rgba(0,0,0,0.13);
    box-shadow: 9px 2px 5px 0px rgba(0,0,0,0.13);
}

.propos > .mini {
    position: absolute;
    top: -1px;
    width: 100px;
    background: rgb(196, 138, 13);
    z-index: 50;
    -webkit-box-shadow: 9px 2px 5px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 9px 2px 5px 0px rgba(0,0,0,0.13);
    box-shadow: 9px 2px 5px 0px rgba(0,0,0,0.13);
}

.propos > .rectangle {
    position: absolute;
    right: 30vw;
    height: 150px;
    width: 100px;
    -webkit-box-shadow: 9px 2px 5px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 9px 2px 5px 0px rgba(0,0,0,0.13);
    box-shadow: 9px 2px 5px 0px rgba(0,0,0,0.13);
    background: rgb(196, 138, 13);
    z-index: 50;
    top: -1px;
}

.propos > .rectangle > .add {
    position: absolute;
    height: 60px; width: 40px;
    bottom: 20px; right:0;
    background: rgb(177, 123, 19);
}

.presentation > .container > img[alt="logo"] {
    position: absolute;
    max-height: 80%;
    top: 5vh; bottom: 0;
    right: 30vh;
    margin: auto;
}

.presentation > .container {
    position: absolute;
    top: 0; bottom: 0;
    width: 100vw;
    height: 40vh;
    margin: auto;
}

.presentation > .container > .texte {
    position: absolute;
    width: 30vw;
    left: 20vw;
}

.presentation > .container > .texte > h1 {
    position: relative;
    font-size: 7vh;
    font-family: ProTrial;
    color: rgba(255, 255, 255, .85);
}

.presentation > .container > .texte > p {
    position: relative;
    margin-top: -20px;
    text-align: justify;
    color: rgba(255, 255, 255, .75);
    font-family: Montserrat;
}

.presentation button {
    position: relative;
    outline: none;
    border: 2px solid var(--main-bg-color);
    background: var(--main-bg-color);
    color: white;
    padding: 10px;
    font-family: OpenSans;
    text-transform: uppercase;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.agent {
    position: relative;
    width: 100vw;
    padding-top: 200px;
    padding-bottom: 100px;
    background: #ecf0f1;
    text-align: center;
}

.agent > hr {
    position: absolute;
    left: 0; right: 0;
    height: 1px;
    width: 30%;
    bottom: -10px;
}

.agent > ul {
    position: relative;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;

}

.agent > ul > li > .image {
    position: absolute;
    top: 25px; bottom: 80px;
    left: 25px; right: 25px;
    background: rgba(0, 0, 0, .2);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.agent > ul > li {
    position: relative;
    display: inline-block;
    height: 25vh;
    width: 25vh;
    margin: 20px;
    background: white;
    padding: 20px;
    padding-bottom: 60px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;

    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    tranform: rotate(-1deg);
}

.agent > ul > li > .name {
    position: absolute;
    bottom: 30px;
    left: 10px; right: 10px;
    font-family: OpenSans;
    padding: 10px;
    color: rgba(50, 50, 50, 1);
}

.agent > ul > li:hover {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    tranform: rotate(4deg);
}

.agent > ul > li:nth-child(odd):hover {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    tranform: rotate(-4deg);
}

.agent > ul > li:nth-child(odd) {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    tranform: rotate(2deg);
}

.propos {
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: #ecf0f1;
    overflow: hidden;
}

.propos > h2 {
    position: absolute;
    left: 0; right: 0;
    top: 80px;
    color: rgba(50, 50, 50, 1);
    font-weight: bold;
    font-family: OpenSans;
    margin: auto;
    padding: 5px;
    z-index: 15;
    width: 200px;
    background: #ecf0f1;
}

.agent > h2 {
    position: absolute;
    left: 0; right: 0;
    top: 70px;
    color: rgba(50, 50, 50, 1);
    font-weight: bold;
    font-family: OpenSans;
    margin: auto;
    padding: 20px;
    text-transform: uppercase;
}

.propos > .arrow {
    position: absolute;
    line-height: 100vh;
    text-align: center;
    font-size: 3vh;
    width: 5vw;
    top: 0; bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    cursor: pointer;
    z-index: 5;
}

.propos > .arrow > i {
    position: relative;
    height: 50px; width: 50px;
    color: var(--main-bg-color)
    line-height: 50px;
    text-align: center;
}


.propos > .content {
    position: absolute;
    width: 80vw;
    left: 0; right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
    height: 50vh;
    overflow: hidden;
}

.propos > .content > li:hover {
    opacity: 1;
}

.propos > .content > li > .bg-image {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-size: cover;
    background-position: center;
}

.propos > .left {
    left: 0;
}

.propos > .right {
    right: 0;
}

.propos > .left_arrow {
    left: 0;
}

.propos > .right_arrow {
    right: 0;
}

.propos > ul {
    position: absolute;
    left: 0; right: 0;
    margin: auto;
    top: 5vh; bottom: 5vh;
    width: 80%;
    height: 80%;
}

.propos > .content > li {
    position: relative;
    display: inline-block;
    height: 50vh;
    width: calc(50% - 20px);
    margin-left: 5px;
    margin-right: 5px;
    background-size: cover;
    background-position: right;
    cursor: pointer;
    font-family: OpenSans;
    color:  rgba(20, 20, 20, .75);
    overflow: hidden;
}

.propos > ul > li > .content {
    position: absolute;
    top: 80px;
    left: 20px;
    right: 20px;
    background: rgba(255, 255, 255, .75);
    text-align: justify;
    padding: 10px;
    font-size: 1.7vh;
    display: none;
}

.propos > ul > li > .title {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px;
    background: rgba(0, 0, 0, .75);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 2.2vh;
    margin: 0;
}

.propos > ul > li > .date {
    position: absolute;
    right: 20px; bottom: 20px;
    padding: 5px;
    background: var(--main-bg-color);
    color: white;
    font-size: 1.4vh;
    font-family: Roboto;
    font-weight: bold;
    display: none;
}

.propos > ul > li > .elem {
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    height: calc(100% - 60px);
    background: white;
    cursor: pointer;
}

.propos > .overlay-color {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: rgba(0, 0, 0, .25);
    z-index: 4;
}

ul.square > li {
    position: relative;
    display: inline-block;
    width: calc(calc(100% / 3) - 40px);
    height: calc(calc(90vh / 2) - 40px);
    margin: 5px;
    background: white;
}

.slogan {
    position: relative;
    width: 100vw;
    height: 50vh;
    background: url('../img/pattern.png');
}

.services {
    position: relative;
    height: 50vh;
    width: 100vw;
    background: url('../img/pattern.png');
}

.services > p {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    text-align: center;
    line-height: 50vh;
    font-size: 5vh;
    color:  white;
    font-family: Oswald;
    margin: auto;
}

.services > p.sp {
    line-height: 60vh;
    font-size: 20px;
}

.contact {
    position: relative;
    padding-top: 50px;
    height: 60vh;
    width: 100vw;
    background: #ecf0f1;
}

form {
    position: absolute;
    height: 90%;
    width: 30vw;
    left: 0; right: 0;
    top: 20px;
    margin: auto;
}

form > .title {
    position: relative;
    width: 100%;
    font-family: OpenSans;
    letter-spacing: -1px;
    color: var(--main-bg-color);
    font-weight: bold;
    text-transform: uppercase;
}

form hr {
    position: relative;
    height: 1px;
    border: none;
    background: var(--main-bg-color);
}

.contact > form > .form-line {
    position: relative;
    width: 100%;
}

input {
    position: relative;
    padding: 10px;
    font-family: OpenSans;
    border: none;
    outline: none;
    margin-bottom: 10px;
    border: 1px solid rgba(50, 50, 50, 1)
}

form > textarea {
    position: relative;
    border: 1px solid rgba(50, 50, 50, 1);
    width: calc(100% - 20px);
    resize: none;
    padding: 10px;
    outline: none;
    font-family: OpenSans;
}

form button {
    position: relative;
    float: right;
    padding: 10px;
    font-family: OpenSans;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    background: var(--main-bg-color);
    color: white;
}

.contact > .content {
    position: absolute;
    left: 0; right: 0;
    margin: auto;
    height: 100%;
    width: 70vw;
}

.contact > .content > div {
    position: absolute;
    top: 0; bottom: 0;
}

.contact > .content > .boxe {
    right: 0;
    left: 0;
    margin: auto;
    width: 50%;
}

form > input {
    width: calc(100% - 20px);
}

form > .form-line > input {
    width: calc(50% - 25px);
}

footer {
    position: relative;
    height: 100px;
    width: 100vw;
    z-index: 11;
    background: var(--main-bg-color);
}

footer > img[alt="logo"] {
    position: relative;
    display: inline-block;
    top: 0; bottom: 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    height: 80px;
    background: rgba(255, 255, 255, .75);
}

footer > .reseaux {
    position: absolute;
    top: 0;
    height: 100px;
    right: 30px;
    line-height: 100px;
}

footer > .reseaux > li {
    position: relative;
    display: inline-block;
    height: 50px; width: 50px;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
    background: var(--three-bg-color);
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: white;
}

footer > .liste {
    position: absolute;
    top: 0; bottom: 0;
    margin: auto;
    line-height: 100px;
    margin-left: -20px;
    display: inline-flex;
}

footer > .liste > li {
    position: relative;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(255, 255, 255, .75);
    transition: 1s all;
    cursor: pointer;
    font-family: Roboto;
    font-size: 1.8vh;
}

footer > .liste > li:hover {
    color: white;
    transition: all 1s;
}

.float-right {
    float: right;
}

.top_page {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: blue;
    z-index: 10;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: rgba(255, 255, 255, .50);
    /*border: 2px solid var(--secondary-bg-color);*/
    transition: all 1s;
    font-size: 15px;
    cursor: pointer;
}

.top_page:hover {
    background: white;
    transition: all 1s;
}

.items {
    position: fixed;
    right: 10px; bottom: 10px;
    width: 50px;
    height: auto;
    list-style-type: none;
    z-index: 10;
    display: none;
}

.items > li {
    position: relative;
    display: inline-block;

    background: var(--main-bg-color);
    color: white;
    height: 50px; width: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: all 1s;
}

.items > li:hover {
    background: white;
    transition: all 1s;
}

li[to="toggle"] {
    display: none;
    margin-bottom: 5px;
    margin-top: 5px;
}

.squarand {
    height: 50px;
    width: 50px;
    position: absolute;
    -webkit-box-shadow: 9px 2px 5px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 9px 2px 5px 0px rgba(0,0,0,0.13);
    box-shadow: 9px 2px 5px 0px rgba(0,0,0,0.13);
}